.add {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.files {
  text-align: left;
}

.title {
  margin-bottom: calc(var(--spacer) / 4);
  font-size: var(--font-size-base);
}

.link {
  color: var(--color-text);
  font-size: var(--font-size-small);
  margin-bottom: calc(var(--spacer) / 4);
  display: inline-block;
}

.link:hover {
  color: var(--brand-cyan);
}
