@import '../styles/_variables.css';

.info {
  font-size: var(--font-size-small);
  opacity: 0.8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.info h2 {
  font-size: var(--font-size-base);
  color: var(--color-text);
  margin-top: calc(var(--spacer) * 2);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  display: inline-block;
}
